extends layout

block block-head
  script(type='text/javascript' src='/javascripts/index.js')        

block block-content

  .title Estadísticas de guerras

  .table-container
    .table
      table.centered.shadow.tablesorter.warstats
        thead
          tr
            th.no-sortable #
            th Tag
            th Nombre
            th Victorias
            th Batallas
            th Ratio
            th Cartas recolectadas
            th Guerras
            th Media de cartas recolectadas
            th Efectividad
        tbody
          each player, index in warData
            tr
              td
              td #{player.playerTag}
              td.break-word-column #{player.name}
              td.show-max #{player.warsWins}
              td #{player.warsPlayed}
              td.no-white-space-break-column.show-max #{player.warsWinsRatio} %
              td.show-max #{player.cardsEarned}
              td #{player.warsParticipations}
              td.show-max #{player.cardsEarnedRatio}
              td.show-max #{player.efectiveness}


  .title Estadísticas de batallas

  .table-container
    .table
      table.centered.shadow.tablesorter.winsStats
        thead
          tr
            th.no-sortable #
            //- th Tag
            th Nombre
            th Victorias
            th Ratio victorias
            th Empates
            th Ratio empates
            th Derrotas
            th Ratio derrotas
            th Victorias 3-coronas
            th Ratio vic. 3-coronas
            th Batallas
            th Días jugando

        tbody
          each player, index in playerData
            tr
              td
              //- td #{player.playerTag}
              td.break-word-column #{player.name}
              td.show-max #{player.winsGames}
              td.show-max #{player.winsPercentGames}
              td.show-min #{player.drawsGames}
              td.show-min #{player.drawsPercentGames}
              td.show-min #{player.lossesGames}
              td.show-min #{player.lossesPercentGames}
              td.show-max #{player.threeCrownWinsStats}
              td.show-max #{player.threeCrownWinsRatio}
              td.show-max #{player.totalGames}
              td.show-max #{player.timeSpentPlaying}

  .title Estadísticas de cartas

  .table-container
    .table
      table.centered.shadow.tablesorter.cardstats
        thead
          tr
            th.no-sortable #
            //- th Tag
            th Nombre
            th Lvl comunes
            th Var comunes
            th Lvl raras
            th Var raras
            th Lvl epicas
            th Var epicas
            th Lvl legendarias
            th Var legendarias
            th Oro gastado
        tbody
          each player, index in playerData
            tr
              td
              //- td #{player.playerTag}
              td.break-word-column #{player.name}
              td.show-max #{player.cardCommonMean}
              td.show-min #{player.cardCommonVariance}
              td.show-max #{player.cardRareMean}
              td.show-min #{player.cardRareVariance}
              td.show-max #{player.cardEpicMean}
              td.show-min #{player.cardEpicVariance}
              td.show-max #{player.cardLegendaryMean}
              td.show-min #{player.cardLegendaryVariance}
              td.show-max #{player.cardGoldSpent}

  .title Mazos actuales del clan

  div.current-deck-container
    div.grid
      div.row
          each player, index in playerData
            div.grid-item.col-6.col-md-4
              a(href=player.deckLink)
                p.font-white #{player.name}
                  div.icon-card-container
                    each card, indexcard in player.currentDeck
                      div.icon-card
                        img(src=card.icon alt=card.name)

  p.lastUpdate Última actualización hace #{lastUpdateTime}






