doctype html
html
  head
    title= 'INVERNALIA ROYALE'
    if (env == "production")
      script(src='https://d26b395fwzu5fz.cloudfront.net/keen-tracking-1.4.2.min.js' type='text/javascript')
      script.
        // Configure a client instance
        var client = new Keen({
          projectId: '5b9c33bbc9e77c0001b84bdd',
          writeKey: 'B8105E8FD7627D566B23C57407F5DF652B420EA3D34E33E2C8E957F8C8BCBFFDB1F96924CABFA23573FB8D158CD8D8D4A61300467F80583100D4991D8A03C01667905ED1A26E0DC8B4634A1C7D226635BB398AA66808B6520F31215779AB8DEC'
        });
        // Record an event
        client.recordEvent('pageviews', {
          title: document.title,
          ip_address: '${keen.ip}',
          user_agent: '${keen.user_agent}',
          url: window.location.href,
          geo: {
            ip_address: '${keen.ip}',
            info: {
              /* Enriched data from API will be saved here */
              /* https://keen.io/docs/api/?javascript#ip-to-geo-parser */
            }
          },
        });
    
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js')
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js')
    meta(name='theme-color' content='#010101')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' type='image/png' href='/images/favicon.ico')
    block block-head
  body
    block block-content
