/* remove default paddings */
* {
  margin:0;
}

@font-face {
  font-family: supercellmagic;
  src: url('/fonts/Supercell-magic.ttf');
}

html {
  font-family: supercellmagic;
}

body {
  display: none;
  height: 100%;
  width: 100%;
  font-family: supercellmagic;
  background-color: #901518;
  background-image: linear-gradient(141deg, #901518 51%, #901518 51%, #010101 75%);
}

table {
  background-color: rgba(255,255,255, 0.8);
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.table{
  width: 95%;
}

@media (max-width: 768px) {
  .table{
    width: 80%;
  }
}

.shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

th {
  cursor: pointer;
  color: rgba(0,0,0,0.6);
  word-break: break-word!important;
}

td {
  color: rgba(0,0,0,0.7);
}

.no-white-space-break-column{
  white-space: nowrap!important;
}

.break-word-column{
  word-break: break-word!important;
}

.max.show-max {
  background-color: rgb(248, 73, 76, 0.1);
}

.min.show-min {
  background-color: rgb(248, 73, 76, 0.1);
}

.icon-card-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  height: 200px;
}

.icon-card {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.font-white{
  color: white! important;
}

.current-deck-container{
  padding-top: 2.5%;
}

.title {
  margin-left: 10%;
  padding-top: 2.5%;
  color: whitesmoke;
  font-size: 5vh;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.lastUpdate {
  color: whitesmoke;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  text-align: center;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

@media screen and (max-width: 1200px) {
  .title{
    font-size: 3vh;
  }
}